In [14]:
import pandas as pd
import ast

In [9]:
dataset_name = ['Blind', 'Disability']
df_list = []
for d in dataset_name:
    df_list.append(pd.read_csv(f'datasets/2nd_filtering/{d}_relevance.csv', index_col=0))

In [35]:
for i, d in enumerate(dataset_name):
    df = df_list[i]
    df['token_count'] = df['anonymized_body_lemmatized'].apply(lambda x: len(ast.literal_eval(x)))
    df['token_type_count'] = df['anonymized_body_lemmatized'].apply(lambda x: len(set(ast.literal_eval(x))))
    print(f'=====dataset:{d}======')
    print(f"Posts:{df.shape[0]}")
    print(f"Tokens:{df['token_count'].sum()}")
    print(f"Types:{df['token_type_count'].sum()}")
    print(f"TTR:{(df['token_type_count'].sum()/df['token_count'].sum()*1000).round(2)}")
    print(f"Avg. of tokens:{df['token_count'].mean().round(2)}")
    print(f"Avg. of types:{df['token_type_count'].mean().round(2)}")
    sentiment = df['post_sentiment_label'].apply(lambda x: 1 if x == 'negative' else 0)
    print(f"Sentiment ratio:{(sentiment.value_counts()[1]/sentiment.value_counts()[0]).round(2)}")
    print(f"Relevance ratio:{(df['Relevance'].value_counts()[1]/df['Relevance'].value_counts()[0]).round(2)}")

=====dataset:Blind======
Posts:1008
Tokens:214930
Types:108452
TTR:504.59
Avg. of tokens:213.22
Avg. of types:107.59
Sentiment ratio:0.74
Relevance ratio:10.33
=====dataset:Disability======
Posts:2434
Tokens:527366
Types:264690
TTR:501.91
Avg. of tokens:216.67
Avg. of types:108.75
Sentiment ratio:1.51
Relevance ratio:14.6

In [32]:
df

,commentator_id,created_utc,anonymized_body,ups,downs,score,controversiality,gilded,distinguished,anonymized_body_lemmatized,keyword,sentiment,post_sentiment_label,post_sentiment_score,Relevance,token_count,token_type_count
0,d7102c6d-8843-42d3-9035-e9253756bec2,1520919167,"That is the dumbest, most fucking moronic, abs...",NaN,NaN,1,0,0,NaN,"['That', 'be', 'the', 'dumb', ',', 'most', 'fu...",dumb,1,negative,0.962408,0,41,36
1,b18391f5-f332-4a01-abce-b2ceac6edd07,1534343659,"Oh God, I would be so mad if it happened to me...",NaN,NaN,6,0,0,NaN,"['Oh', 'God', ',', 'I', 'would', 'be', 'so', '...",dumb,1,negative,0.958311,1,41,34
2,e0091820-6a35-48e5-ba85-852744602eab,1523895434,That's insane. I wish I had advice but everyth...,NaN,NaN,2,0,0,NaN,"['That', ""'s"", 'insane', '.', 'I', 'wish', 'I'...",insane,1,negative,0.952975,1,37,31
3,dced99b7-127f-46e5-ac13-25617289d8de,1576870204,The fact this is true absolutely disgusting. A...,NaN,NaN,15,0,0,NaN,"['The', 'fact', 'this', 'be', 'true', 'absolut...",idiot,1,negative,0.952214,1,62,46
4,ae1d583b-4102-4607-878f-140dd09a6dc9,1568170862,This just makes me sick to my stomach. I guess...,NaN,NaN,6,0,0,NaN,"['This', 'just', 'make', 'me', 'sick', 'to', '...",crazy,1,negative,0.951125,0,19,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2429,c836fe63-9b04-479d-b32b-91a8a6bae550,1565857708,Well I think the more people see us the better...,NaN,NaN,3,0,0,NaN,"['Well', 'I', 'think', 'the', 'more', 'people'...",insane,1,positive,0.545418,1,142,86
2430,8a907d88-0ee4-4f5a-b825-3a402eece10b,1534246672,Yep the ZRA and the Aero Z are the adjustable ...,NaN,NaN,3,0,0,NaN,"['Yep', 'the', 'ZRA', 'and', 'the', 'Aero', 'Z...",crazy,1,positive,0.533189,1,199,114
2431,20c8c6aa-d750-4c93-a6b4-1f7e4cfab376,1461817158,This is a very ambitious topic and I respect y...,1.0,NaN,1,0,0,NaN,"['This', 'be', 'a', 'very', 'ambitious', 'topi...",crazy,1,positive,0.523853,1,1135,426
2432,7e36148b-2b74-4bba-b469-eb50434fa64b,1423936148,Its strange- I grew up out here and then moved...,1.0,0.0,1,0,0,NaN,"['Its', 'strange-', 'I', 'grow', 'up', 'out', ...",slow,1,positive,0.473465,1,331,196
2433,c1511445-04a7-4fde-ad57-492e7659b3df,1574765396,The only exercise that I can do is gentle swim...,NaN,NaN,2,0,0,NaN,"['The', 'only', 'exercise', 'that', 'I', 'can'...",cripple,1,positive,0.440805,1,116,71

In [ ]:
df['post_sentiment_label'].apply(lambda x: if x == 'negative' then 1, else 0)